# Dependencies
/node_modules

# Build
/dist

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# TypeScript
*.tsbuildinfo

# Coverage
/coverage

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Prisma
prisma/*.db
prisma/migrations/
